@model RegisterUserViewModel
@inject IRoomService RoomService

@{
    var rooms = await RoomService.ListRoomsAsync();
}

<div class="container-login100">
    <div class="wrap-login100 p-b-160 p-t-50">
        <form class="login100-form validate-form"
              id="loginForm"
              method="post"
              onsubmit="return false;"
              data-ajax="@Url.Action(nameof(HomeAPIController.JoinRoom), "HomeAPI")">
            <span class="login100-form-title p-b-43">
                Hello World!<br />
                Kö inloggning
            </span>

            <div class="wrap-input100 rs1 validate-input">
                <input class="input100" asp-for="UserName">
                <label class="label-input100" asp-for="UserName"></label>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Sign in
                </button>
            </div>

            <div class="text-center w-full p-t-23">
                <a href="#" class="txt1">
                    Forgot password?
                </a>
            </div>
        </form>
    </div>
</div>

<form >
    <div>
        <span asp-validation-for="UserName" style="display:block"></span>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        @foreach (var room in rooms)
        {
            <button class="roomBtn" type="button" name="@Html.NameFor(m => m.RoomId)" value="@room.Id">Delta rum @room.Name</button>
        }
        @if(rooms.Count == 0)
        {
            <div><i>Det finns inga rum.</i></div>
        }
    </div>
</form>