@model LoginViewModel
@inject IRoomService RoomService

@{
    var rooms = await RoomService.ListRoomsAsync();
}

<form id="loginForm" method="post" onsubmit="return false;" data-ajax="@Url.Action(nameof(HomeAPIController.JoinRoom), "HomeAPI")">
    <div>
        <span asp-validation-for="UserName" style="display:block"></span>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>
    <div>
        @foreach (var room in rooms)
        {
            <button class="roomBtn" type="button" name="@Html.NameFor(m => m.RoomId)" value="@room.Id">Delta rum @room.Name</button>
        }
        @if(rooms.Count == 0)
        {
            <div><i>Det finns inga rum.</i></div>
        }
    </div>
</form>