@model IList<Room>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Count == 0)
{
    <i>(Finns inga rum...)</i>
}

@foreach (var room in Model)
{
    <li>
        <fieldset>
            <legend>@room.Name - <i>@room.Users.Count st i rummet</i></legend>
            @{ 
                var enqueued = room.GetSortedEnqueued();
                var unqueued = room.GetUnqueued();
            }
            @if (enqueued.Count == 0)
            {
                <i>(Finns inga i kö...)</i>
            }
            else
            {
                <text>Kö:</text>
                <ol>
                    @foreach (var user in enqueued)
                    {
                        <li>
                            @user.Name
                        </li>
                    }
                </ol>
            }

            @if (unqueued.Count > 0)
            {
                <text>Inte i kö:</text>
                <ol>
                    
                    @foreach (var user in unqueued)
                    {
                        <li>
                            @user.Name
                        </li>
                    }
                </ol>
            }
        </fieldset>
    </li>
}