
<nav class="border split-nav no-collapse">
    <div class="nav-brand">
        <h4><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Kösystem</NavLink></h4>
    </div>
    <div class="incollapsible">
        <div class="incollapsible-body">
            <ul class="inline">
                <li>Skapat av <a href="https://helloworld.se" target="_blank">Hello World!</a></li>
            </ul>
        </div>
    </div>
</nav>
