
<p>
    @Person?.Name, @Person?.EnqueuedAt
    @if (IsCurrentPerson)
    {
        <span>(hey that's you!)</span>
    }
</p>

@code {
    [Parameter]
    public PersonModel? Person { get; set; }

    [Parameter]
    public bool IsCurrentPerson { get; set; }
}
