@inject IRoomRepository RoomRepository

@if (Room is null)
{
    <h1>#N/A Rummet finns inte</h1>
    <p>Rummet kanske har blivit borttaget, eller så har du länkats till fel rumsnummber.</p>
}
else
{
    <h1>#@Room.Id.ToString("0000") @Room.Name</h1>
}

@if (People?.Count > 0)
{
    foreach (var person in People.OrderBy(o => o.EnqueuedAt).ThenBy(o => o.Name))
    {
        <PersonComponent @key="person.Name" Person="person"/>
    }
}
else
{
    <p>Finns inga personer i detta rum.</p>
}

@code {
    [Parameter]
    public RoomModel? Room { get; set; }

    public IReadOnlyCollection<PersonModel>? People { get; set; }

    protected override void OnInitialized()
    {
        if (Room is not null){
            RoomRepository.FindPeopleInRoom(Room.Id);
        }
    }
}
