@if (Room is null)
{
    <h1>#N/A Rummet finns inte</h1>
    <p>Rummet kanske har blivit borttaget, eller så har du länkats till fel rumsnummber.</p>
}
else
{
    <h1>#@Room.Id.ToString("0000") @Room.Name</h1>
}

@if (People?.Count > 0)
{
    foreach (var person in People.OrderBy(o => o.EnqueuedAt).ThenBy(o => o.Name))
    {
        <PersonComponent @key="person.Id" Person="person" IsCurrentPerson="person.Id == CurrentPerson?.Id"/>
    }
}
else
{
    <p>Finns inga personer i detta rum.</p>
}

@code {
    [Parameter]
    public RoomModel? Room { get; set; }

    [Parameter]
    public IReadOnlyCollection<PersonModel>? People { get; set; }

    [Parameter]
    public PersonModel? CurrentPerson { get; set; }
}
