@inject IRoomRepository RoomRepository

<h1>#@Room.Id.ToString("0000") @Room.Name</h1>

@if (People?.Count > 0)
{
    foreach (var person in People.OrderBy(o => o.EnqueuedAt).ThenBy(o => o.Name))
    {
        <PersonComponent @key="person.Name" Person="person"/>
    }
}
else
{
    <p>Finns inga personer i detta rum.</p>
}

@code {
    [Parameter]
    public RoomModel Room { get; set; }

    public IReadOnlyCollection<PersonModel>? People { get; set; }

    protected override void OnInitialized()
    {
        RoomRepository.FindPeopleInRoom(Room.Id);
    }
}
