@page "/"
@namespace Kosystem.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kösystem</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/papercss/dist/paper.css" />
        <link rel="stylesheet" type="text/css" asp-href-include="~/css/*.css" asp-href-exclude="~/css/*.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/papercss@1.6.1/dist/paper.min.css"
              integrity="sha384-GeQUdXL3egbQJLKdpnc5+pNUvkF1pFnAY4mOmSOdsDpm+HYNJv9eAqz45hu7yBXM"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/papercss/dist/paper.min.css"
              asp-fallback-test-class="paper" asp-fallback-test-property="background-color" asp-fallback-test-value="#fff" />
        <link rel="stylesheet" type="text/css" asp-href-include="~/css/*.min.css" />
    </environment>
</head>
<body>
    <main>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </main>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <footer>
        <div class="container row">
            <div class="md-6">
                <div>
                    <a href="/notices">Byggt med mjukvara med öppen källkod.</a>
                </div>
                <div>
                    Körs med: @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
                </div>
            </div>
            <div class="md-6 text-right">
                <a href="/login">Hantera rum</a>
            </div>
        </div>
    </footer>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
