@page "/{RoomId:int}"
@inject IRoomRepository RoomRepository
@inject IPersonSession PersonSession

@if (_roomAlert is not null)
{
    <input class="alert-state" id="unknown-room-alert" type="checkbox" @bind="_hideRoomAlert" />
    <div class="alert alert-danger dismissible">
        <span>@_roomAlert</span>
        <label class="btn-close" for="unknown-room-alert">X</label>
    </div>
}

<Kosystem.Components.RoomComponent Room="_room" People="_people" CurrentPerson="_currentPerson" />

@code {
    [Parameter]
    public int RoomId { get; set; }

    private RoomModel? _room;
    private IReadOnlyCollection<PersonModel>? _people;
    private PersonModel? _currentPerson;

    private string? _roomAlert;
    private bool _hideRoomAlert;

    protected override void OnParametersSet()
    {
        _room = RoomRepository.FindRoom(RoomId);

        if (_room is null) {
            return;
        }

        if (PersonSession.TryGetCurrentPerson(out var person)
            && person.RoomId != RoomId)
        {
            _currentPerson = person;
            var result = RoomRepository.AddPersonToRoom(RoomId, _currentPerson.Id);

            if (result is not AddResult.OK and not AddResult.AlreadyAdded)
            {
                _roomAlert = $"Kunde inte lägga till dig i rum #{RoomId:0000}. Okänt fel...";
                _hideRoomAlert = false;
                return;
            }
        }

        if (_room is not null)
        {
            _people = RoomRepository.FindPeopleInRoom(RoomId);
        }
    }
}
