<!DOCTYPE html>
<html>
<head>
    @if (ViewData["Title"] != null)
    {
        <title>Kösystem - @ViewData["Title"]</title>
    }
    else
    {
        <title>Kösystem</title>
    }
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @section Scripts
    {

    }
</body>
</html>

